@import "tailwindcss";

/* =========================
   LIGHT THEME (default)
   ========================= */
.light {
  /* GRAY */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  /* BLUE */
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --color-white: #ffffff;
}

/* =========================
   DARK THEME (inverted)
   ========================= */
.dark {
  /* GRAY (inverted) */
  --color-gray-50: #111827;
  --color-gray-100: #1f2937;
  --color-gray-200: #374151;
  --color-gray-300: #4b5563;
  --color-gray-400: #6b7280;
  --color-gray-500: #9ca3af;
  --color-gray-600: #d1d5db;
  --color-gray-700: #e5e7eb;
  --color-gray-800: #f3f4f6;
  --color-gray-900: #f9fafb;

  /* BLUE (inverted) */
  --color-blue-50: #1e3a8a;
  --color-blue-100: #1e40af;
  --color-blue-200: #1d4ed8;
  --color-blue-300: #2563eb;
  --color-blue-400: #3b82f6;
  --color-blue-500: #60a5fa;
  --color-blue-600: #93c5fd;
  --color-blue-700: #bfdbfe;
  --color-blue-800: #dbeafe;
  --color-blue-900: #eff6ff;

  --color-white: #020617;
  --color-black: #f9fafb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  @apply w-full h-full text-sm bg-gray-500 text-gray-900;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 7.5vh);
  }
}
